.container {
    padding: 0 0.45rem 2rem 0.45rem;
    max-width: 65rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  .smallcard {
    box-shadow: 4px 4px 0px var(--color-accent);
    border: 1px solid var(--color);
    border-radius: 0px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .smallcard-content {
    min-height: 470px;
  }
  .smallcard-box {
    min-height: 320px;
  }

  .smallcard-banner {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

  .smallcard-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .smallcard-content {
    padding: 0rem 1rem 1rem 1rem;
  }

  .taxonomy-list_categories {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .taxonomy-item {
    font-size: 14px;
    color: var(--accent-color);
    margin-right: 10px;
  }

  .smallcard {
    display: flex;
    flex-direction: column;
  }

  .smallcard-img {
    width: 100%;
    height: auto;
  }



  .smallcard-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    color: var(--accent-color);
  }

  .smallcard-footer {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    color: var(--accent-color);
  }

  .taxonomy-list_tags {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }