{{- define "main" }}
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search" });
    });
</script>
<section class="l-container_content">
  <div id="search"></div>
  {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
  {{ range $paginator.Pages }}
  <article class="card">
    {{ partialCached "entry/header" . .Page }}
    <section class="card-content">
      {{ .Summary | truncate 350 "..." }}
    </section>
    {{- if .Params.tags }}
    	{{ $tags := sort .Params.tags }}
    	{{ $variant := printf "%x" $tags }}
    	{{ partialCached "entry/footer.html" . $variant }}
    {{- end }}
  </article>
  {{- end }}
</section>
{{- end }}

{{- define "pagination" }}
  {{ partial "pagination" . }}
{{- end }}
