<!-- layouts/partials/related-posts.html -->
<div class="related-posts">
    <h3>Related Posts</h3>
    <ul>
        {{ $currentPage := . }}
        {{ $currentTags := .Params.tags }}
        {{ $currentCategories := .Params.categories }}
        {{ $allPages := .Site.RegularPages }}
        {{ $relatedByTags := where $allPages "Params.tags" "intersect" $currentTags }}
        {{ $relatedByCategories := where $allPages "Params.categories" "intersect" $currentCategories }}
        {{ $relatedPages := union $relatedByTags $relatedByCategories | uniq }}
        {{ $relatedPages := where $relatedPages "Permalink" "!=" $currentPage.Permalink | first 3 }}
  
        {{ $remainingSlots := sub 3 (len $relatedPages) }}
        {{ if gt $remainingSlots 0 }}
            {{ $scratch := newScratch }}
            {{ range $relatedPages }}
                {{ $scratch.Add "relatedPermalinks" .Permalink }}
            {{ end }}
            {{ $otherPages := where $allPages "Permalink" "!=" $currentPage.Permalink }}
            {{ $otherPages := where $otherPages "Permalink" "not in" ($scratch.Get "relatedPermalinks") }}
            {{ $otherPages := $otherPages | first $remainingSlots }}
            {{ $relatedPages = union $relatedPages $otherPages }}
        {{ end }}
  
        {{ if $relatedPages }}
            {{ range $relatedPages }}
                <li class="related-color">
                    <a style="text-decoration: underline;" href="{{ .Permalink }}">{{ .Title }}</a>
                    <p>{{ .Description }}</p>
                </li>
            {{ end }}
        {{ else }}
            <li>No related posts found.</li>
        {{ end }}
    </ul>
  </div>
  
  

  