<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "RemoteUnbound: Remote Work & Productivity Magazine",
    "url": "https://www.remoteunbound.com",
    "description": "Boost your remote work success RemoteUnbound. Discover productivity hacks, home office setups, work-life balance tips, and tools for digital nomads.",
    "publisher": {
      "@type": "Organization",
      "name": "RemoteUnbound",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.remoteunbound.com/img/og.jpg"
      }
    }
  }
</script> 