<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.remoteunbound.com/about",
    "logo": "https://www.remoteunbound.com/logo.png",
    "image": "https://www.remoteunbound.com/img/og.jpg",
    "description": "Boost your remote work success with RemoteUnbound. Discover productivity hacks, home office setups, work-life balance tips, and tools for digital nomads.",
    "founder": {
      "@type": "Person",
      "name": "Renaud Gagne",
      "jobTitle": "Founder",
      "image": "https://www.remoteunbound.com/authors/renaud-gagne/renaudgagne_hu3abb438eac68309bfb9382bab1e23aae_53258_400x400_fill_q75_box_center.jpg"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "info@remoteunbound.com",
      "contactType": "customer support"
    }
  }
  </script>
  