{{- define "home-main" }}

<section style="padding: 45px 0.45rem 0px 0.45rem;max-width: 65rem; margin: 0 auto;">
  <h1>
    <span style="font-size: 3.5rem; line-height: 100%;">Remote Unbound</span> <br> The Magazine For Remote Workers
  </h1>
</section>
<section class="xcontainer">
  
  {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
  {{ range $paginator.Pages }}
  <article class="smallcard">
    <header>      
      {{- if .Params.feature }}
      {{- $thumbnail := .Params.feature }}
      {{- if not (in .Params.feature "http") }}
        {{- with .Resources.GetMatch .Params.feature }}
          {{- $image := . }}
          {{- $thumbnail = ($image.Fill "600x600").RelPermalink }}
        {{- else }}
          {{- $thumbnail = .Params.feature }}
        {{- end }}
      {{- end }}

      <div class="">
        <div>
          <img loading="lazy" height="600px" width="600px" class="smallcard-img" src="{{ $thumbnail }}" alt="{{ .Title }}" >
        </div>
        
        <div class="smallcard-content">
          <div class="smallcard-meta">
            <span>{{ with .PublishDate }}<time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time>{{ end }}</span>
            {{- if .Params.categories }}
            <nav>
              <ul class="taxonomy-list_categories">
              {{- range (.GetTerms "categories") }}
                <li><a href="{{ .Permalink }}" title="View posts in the {{ .LinkTitle }} category or tag" class="taxonomy-item">{{ .LinkTitle }}</a></li>
              {{- end }}
              </ul>
            </nav>
            {{- end }}
          </div>
          <div class="smallcard-box">
          <h3 class="smallcard-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{ $summary := .Summary | replaceRE "^Introduction" "" | htmlUnescape }}

          <p>
            {{ $summary | truncate 250 "..." }}</p>
          </div>
          <div style="display:flex; justify-content: flex-end;">
          <a href="{{ .RelPermalink }}" title="Read article entitled {{ .Title }}" class="button">Read Article</a>
          </div>
        </div>
      </div>
    {{- end }}
    </header>

    {{- if .Params.tags }}
      {{ $tags := sort .Params.tags }}
      {{ $variant := printf "%x" $tags }}
      {{- if .Params.tags }}
    <footer class="card-footer">
      <ul class="taxonomy-list_tags">
      {{- range (.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}" class="taxonomy-item">{{ .LinkTitle }}</a></li>
      {{- end }}
      </ul>
    </footer>
      {{- end }}
    {{- end }}
  </article>
  {{- end }}
</section>
<section style="padding: 45px 0.45rem 0px 0.45rem;max-width: 65rem; margin: 0 auto;">
  <h2>
    Browser By Categories
  </h2>
</section>
<section class="category-grid">
  {{ range .Site.Taxonomies.categories.ByCount }}
    {{ $categoryPage := .Page }}
    {{ $categoryContent := site.GetPage (printf "/categories/%s" $categoryPage.Title | urlize) }}

    <article class="smallcard category">
      {{ with $categoryContent }}
      <header class="smallcard-header">
        <div class="smallcard-meta">
          <span>{{ with .PublishDate }}<time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time>{{ end }}</span>
          {{- if .Params.categories }}
          <nav>
          <ul class="taxonomy-list_categories">
          {{- range (.GetTerms "categories") }}
            <li>{{ .LinkTitle }}</li>
          {{- end }}
          </ul>
          </nav>
          {{- end }}
        </div>
        {{ with .Params.image }}
        <img class="featured-image" loading="lazy" style="margin-bottom: 20px; height: 500px; object-fit: cover;" height="500px" width="800px" src="{{ . }}" alt="{{ $.Title }}" />
      {{ end }}
        

      </header>

        <section class="card-content" style="padding: 0 1rem 1rem 1rem;">
          <h3 class="card-title" style="margin-bottom: 10px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{- with .Description }}
            {{ . | truncate 350 "..." }}
          {{- end }}
          <br>
          <a href="{{ .RelPermalink }}"  title="Read article entitled {{ .Title }}" style="display: inline-block" class="button">Browse Category</a>
        </section>
      {{ end }} 
    </article>
  {{ end }}
</section>
{{- end }}

{{- define "pagination" }}
  {{ partial "pagination" . }}
{{- end }}