{{- if .Params.feature }}
  {{- $thumbnail := .Params.feature }}
  {{- if not (in .Params.feature "http") }}
    {{- with .Resources.GetMatch .Params.feature }}
      {{- $image := . }}
      {{- $thumbnail = ($image.Fill "350x350").RelPermalink }}
    {{- else }}
      {{- $thumbnail = .Params.feature }}
    {{- end }}
  {{- end }}

  <div class="smallcard" style="margin-top: 20px">
    <div>
      <img loading="lazy" height="600px" width="600px" class="smallcard-img" src="{{ $thumbnail }}" alt="{{ .Title }}" >
    </div>
    <div class="smallcard-content">
      <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ $summary := .Summary | replaceRE "^Introduction" "" | htmlUnescape }}
     
      <p>
        {{ $summary | truncate 350 "..." }}</p>
      <div style="display:flex; justify-content: end;margin-right:20px;">
      <a href="{{ .RelPermalink }}" title="Read article entitled {{ .Title }}" class="button">Read Article</a>
      </div>
    </div>
  </div>
  
{{- end }}
