<header class="">
  {{ with .Params.Series }}<a href="/series/{{ . | urlize }}" class="card-banner" data-taxonomy="{{ print "series-" . | urlize }}">{{ . }}</a>{{ end }}
  <div class="card-meta">
    <span>{{ with .PublishDate }}<time datetime="{{ . }}">{{ dateFormat "Jan 2, 2006" . }}</time>{{ end }}</span>
    {{- if .Params.categories }}
    <ul class="taxonomy-list_categories">
    {{- range (.GetTerms "categories") }}
      <li><a href="{{ .Permalink }}" class="taxonomy-item">{{ .LinkTitle }}</a></li>
    {{- end }}
    </ul>
    {{- end }}
  </div>
  {{ partialCached "entry/smallfeature" . .Page }}
</header>
